.invest-bar {
    background-color: #FF4800;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 9;

    &-text {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        p {
            color: white;
            font-size: 24px;
            font-weight: 400;
            line-height: 31px;
            font-family: 'Inter', sans-serif;
        }

        a {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            background: #fff;
            border-radius: 54px;
            color: #000;
            font-size: 12.58px;
            font-weight: 600;
            line-height: 20px;
            font-family: 'Inter', sans-serif;
        }

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
        }
    }

    &-content {
        position: relative;
        padding: 8px 0;
    }

    .tSocial {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        gap: 18px;
        a{
            color: #fff;
            font-size: 20px;
        }
    }
}

.homeC {
    .navbar {
        position: absolute;
    }
}

.navbar {
    padding: 14px 36px 14px 28px;
    background: transparent;
    // position: absolute;
    width: 100%;
    z-index: 2;

    .navbar-brand {
        padding: 0;
        max-width: 269px;
    }

    .navbar-nav {
        gap: 60px;

        .nav-link {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.821em;
            color: #fff;
            transition: all 0.5s;
            // padding-right: 30px;
            // padding-left: 30px;
            position: relative;

            &::after {
                content: '';
                height: 2px;
                width: 0%;
                background-color: #FF4800;
                display: inline-block;
                position: absolute;
                bottom: -22px;
                margin: auto;
                left: 0;
                right: 0;
                transition: all 0.5s;
            }

            @media (min-width: 992px) {
                &:hover {
                    color: #FF4800;

                    &::after {
                        width: 100%;
                    }
                }
            }


            &.active {
                color: #FF4800;

                &::after {
                    width: 100%;
                }
            }
        }

        .theme-btn {
            padding: 10px 20px;
            // margin-left: 20px;
        }
    }

}

.navbar-dark .navbar-toggler {
    color: #fff;
    border: 0;

    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}